{% extends 'base.html' %}

  {% block content %}

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="static/img/intro.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Tecnologia Revolucionária</span>
            <span class="section-heading-lower">Fast Trade</span>
          </h2>
          <p class="mb-3">Nossa plataforma foi desenvolvida para oferecer de forma fácil e eficiente, o desenvolvimento de tecnologias e ferramentas voltadas para trades. Crie seus próprios gráficos, monitore e edite suas ordens, rastreie seus históricos de trades e movimentação de carteiras. Descubra todas as possibilidades.
          </p>
          <div class="intro-button mx-auto">
            <a class="btn btn-primary btn-xl" href="/sobre">Saiba mais!</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <div class="cta-inner text-center rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Confiança, Agilidade e </span>
              <span class="section-heading-lower">SEGURANÇA</span>
            </h2>
            <p class="mb-0">Confiança. Agilidade. Segurança. Somos a plataforma mais segura para comprar e vender Bitcoin. Primeira e única plataforma do Brasil com certificação PICA DGS nível 9, que atende aos requisitos máximos de segurança nas transações.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock %}
